/* ------------------------------------General settings----------------------------------- */
:root {
  /* -----text color---- */
  --first-text-color: #434455;
  --second-text-color: #FFFFFF;
  --third-text-color: #2E2F42;
  --fourth-text-color: #4D5AE5;
  --fifth-text-color: #F4F4FD;
  --sixth-text-color: #E7E9FC;
  /* -----background color----------*/
  --first-background-color: #2E2F42;
  --second-background-color:#F4F4FD;
  --third-background-color: #4D5AE5;
  --accent-color: #404BBF;
  /* --------- found -------------- */
  --secondary-found: 'Raleway', sans-serif;
}
/* -----------------------------------Universal classes-------------------------------------- */
body {
  /* https://fonts.google.com font-family:'Roboto' */
  font-family: "Roboto", sans-serif;
  color:#2E2F42;
}
/* delete marker */
.list {
  list-style: none;
}
/* delete underline */
.link {
  text-decoration: none;
}
/* hover and focus effect link*/
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* main title attributes */
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* subtitle attributes */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* main description attributes */
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
/* main text attributes */

/* fading title effect */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}
/* hover and focus effect button*/
.btn:hover,
.btn:focus {
  background: var(--accent-color);
}

/******************************* Main Page **** ************************/
/* -------------------------------Header-------------------------------- */
.header-logo {
  text-decoration: none;
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.header-logo span {
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
/* ----------------------------Hero section----------------------- */
.hero {
  background: var(--first-background-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.hero-button {
  background: var(--third-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--second-text-color);
}
 /* ------------------------Basic principles section ---------------------------*/

/* -- Our Team section -- */
.team {
  background: var(--second-background-color);
}
.team-subtitle {
  text-align: center;
}
.team-description {
  text-align: center;
}
/* ----------------------------- footer ------------------------------*/
.footer {
  background: var(--first-background-color);
}
.footer-logo {
  text-decoration: none;
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.67;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fifth-text-color);
}
.footer-logo span{
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.67;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-text-color);
}

.footer-description {
  color: var(--sixth-text-color);
}
/* ************************Portfolio Page ************************/
/* --------------------- Portfolio filter buttons---------------------------- */

.portfolio-button {
  background: var(--second-background-color);
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  text-align: center;
  color: var(--fourth-text-color);
}

/* ---------------------- Row examples of projects ------------------------- */


